report_layout.aux
report_layout.html
report_layout.knit.md
report_layout.log
report_layout.pdf
report_layout.tex
header.log
header.pdf
logo.png
report_layout - Copy.pdf
latrobe-logo-og.webp
report_layout_files
02CF.log
list.Rdata
04CF.log
03CF.log
05CF.log
06CF.log
